.score-container {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1.5px solid #fd5901;
    border-radius: 10px;
    margin-left: 10px;
    overflow: auto;
    /* animation-name: score;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-fill-mode: forward;
    animation-play-state: ease-in-out; */
}

/* @keyframes score {
    from { transform: translate(100vw, 0px);}
    to { transform: translate(0px, 0px)}
} */

/* @keyframes article {
    from { transform: translate(-100vw, 0px);}
    to { transform: translate(0px, 0px)}
} */

/* .scores {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
} */

.score-header {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
    width: 35%;
    font-weight: 600;
    font-size: 25px;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #fd5901;
    border: 2px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.score-header {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
    width: 35%;
    font-weight: 600;
    font-size: 25px;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #fd5901;
    border: 2px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nba {
    position: relative;
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: row;
}

.nba-home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nba-home {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.nba-home-team {
    position: relative;
    display: flex;
    font-size: 20px;
}

.nba-home-score {
    position: relative;
    display: flex;
    justify-content: center;
}

.nba-away-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nba-away {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.nba-away-team {
    position: relative;
    display: flex;
    font-size: 20px;
}

.nba-away-score {
    position: relative;
    display: flex;
    justify-content: center;
}

/* 
.nba-teams {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.gm-team {
    position: relative;
    display: flex;
    margin: auto;
}

.nba-scores {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.gm-score {
    position: relative;
    display: flex;
    margin: auto;
} */

.Milwaukee-Bucks {
    position: relative;
    display: flex;
    background-image: url("../../images/milwaukee-bucks.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Miami-Heat {
    position: relative;
    display: flex;
    background-image: url("../../images/miami-heat.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Houston-Rockets {
    position: relative;
    display: flex;
    background-image: url("../../images/houston-rockets.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Los-Angeles-Lakers {
    position: relative;
    display: flex;
    background-image: url("../../images/los-angeles-lakers.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}