/* NHL */

.Anaheim-Ducks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Anaheim_Ducks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Arizona-Coyotes {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Arizona_Coyotes.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Boston-Bruins {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Boston_Bruins.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Buffalo-Sabres {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Buffalo_Sabres.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Calgary-Flames {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Calgary_Flames.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Carolina-Hurricanes {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Carolina_Hurricanes.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Chicago-Blackhawks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Chicago_Blackhawks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Colorado-Avalanche {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Colorado_Avalanche.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Columbus-Blue-Jackets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Columbus_Blue_Jackets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Dallas-Stars {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Dallas_Stars.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Detroit-Red-Wings {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Detroit_Red_Wings.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Edmonton-Oilers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Edmonton_Oilers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Florida-Panthers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Florida_Panthers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Kings {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Kings.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Minnesota-Wild {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Minnesota_Wild.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Montreal-Canadiens {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Montreal_Canadiens.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Nashville-Predators {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Nashville_Predators.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-Jersey-Devils {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_Jersey_Devils.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Islanders {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Islanders.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Rangers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Rangers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Ottawa-Senators {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Ottawa_Senators.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}
.Pittsburgh-Penguins {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Pittsburgh_Penguins.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}
.Philadelphia-Flyers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Philadelphia_Flyers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.San-Jose-Sharks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/San_Jose_Sharks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.St\.-Louis-Blues {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/St_Louis_Blues.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Tampa-Bay-Lightning {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Tampa_Bay_Lightning.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Toronto-Maple-Leafs {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Toronto_Maple_Leafs.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Vancouver-Canucks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Vancouver_Canucks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Vegas-Golden-Knights {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Vegas_Golden_Knights.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Washington-Capitals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Washington_Capitals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}
.Winnipeg-Jets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Winnipeg_Jets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

/* MLB */

.Atlanta-Braves {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Atlanta_Braves.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Arizona-Diamondbacks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Arizona_Diamondbacks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Baltimore-Orioles {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Baltimore_Orioles.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Boston-Red-Sox {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Boston_Red_Sox.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Chicago-Cubs {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Chicago_Cubs.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Chicago-White-Sox {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Chicago_White_Sox.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Cincinnati-Reds {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Cincinnati_Reds.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Cleveland-Indians {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Cleveland_Indians.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Colorado-Rockies {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Colorado_Rockies.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Detroit-Tigers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Detroit_Tigers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Houston-Astros {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Houston-Astros.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Kansas-City-Royals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Kansas_City_Royals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Angels {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Angels.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Dodgers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Dodgers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Miami-Marlins {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Miami_Marlins.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Milwaukee-Brewers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Milwaukee_Brewers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Minnesota-Twins {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Minnesota_Twins.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Mets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Mets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Yankees {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Yankees.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Oakland-Athletics {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Oakland_Athletics.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Pittsburgh-Pirates {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Pittsburgh_Pirates.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Philadelphia-Phillies {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Philadelphia_Phillies.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.San-Diego-Padres {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/San_Diego_Padres.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.San-Francisco-Giants {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/San_Francisco_Giants.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Seattle-Mariners {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Seattle_Mariners.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.St\.-Louis-Cardinals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/St_Louis_Cardinals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Tampa-Bay-Rays {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Tampa_Bay_Rays.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Texas-Rangers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Texas_Rangers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Toronto-Blue-Jays {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Toronto_Blue_Jays.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Washington-Nationals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Washington_Nationals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

/* NBA */

.Atlanta-Hawks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Atlanta_Hawks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Boston-Celtics {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Boston_Celtics.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Brooklyn-Nets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Brooklyn_Nets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Charlotte-Hornets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Charlotte_Hornets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Chicago-Bulls {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Chicago_Bulls.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Cleveland-Cavaliers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Cleveland_Cavaliers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Dallas-Mavericks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Dallas_Mavericks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Detroit-Pistons {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Detroit_Pistons.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Denver-Nuggets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Denver_Nuggets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Golden-State-Warriors {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Golden_State_Warriors.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Houston-Rockets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Houston_Rockets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Indiana-Pacers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Indiana_Pacers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.LA-Clippers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Clippers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Lakers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Lakers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Memphis-Grizzlies {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Memphis_Grizzlies.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Milwaukee-Bucks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Milwaukee_Bucks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Miami-Heat {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Miami_Heat.svg');
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Minnesota-Timberwolves {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Minnesota_Timberwolves.svg');
=======
>>>>>>> a6f09909a8ce8e8b40ca2cea4adf24f0b485e788
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-Orleans-Pelicans {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_Orleans_Pelicans.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Knicks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Knicks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Oklahoma-City-Thunder {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Oklahoma_City_Thunder.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Orlando-Magic {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Orlando_Magic.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Philadelphia-76ers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Philadelphia_76ers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Phoenix-Suns {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Phoenix_Suns.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Portland-Trail-Blazers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Portland_Trail_Blazers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Sacramento-Kings {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Sacramento_Kings.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.San-Antonio-Spurs {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/San_Antonio_Spurs.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Toronto-Raptors {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Toronto_Raptors.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Utah-Jazz {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Utah_Jazz.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Washington-Wizards {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Washington_Wizards.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

/* NFL */

.Arizona-Cardinals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Arizona_Cardinals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Atlanta-Falcons {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Atlant_Falcons.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Baltimore-Ravens {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Baltimore_Ravens.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Buffalo-Bills {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Buffalo_Bills.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Carolina-Panthers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Carolina_Panthers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Chicago-Bears {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Chicago_Bears.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Cincinnati-Bengals {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Cincinnati_Bengals.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Cleveland-Browns {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Cleveland_Browns.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Dallas-Cowboys {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Dallas_Cowboys.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Denver-Broncos {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Denver_Broncos.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Detroit-Lions {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Detroit_Lions.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Green-Bay-Packers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Green_Bay_Packers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Houston-Texans {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Houston_Texans.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Indianapolis-Colts {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Indianapolis_Colts.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Jacksonville-Jaguars {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Jacksonville_Jaguars.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Kansas-City-Chiefs {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Kansas_City_Chiefs.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Las-Vegas-Raiders {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Las_Vegas_Raiders.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Rams {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Rams_.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Los-Angeles-Chargers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Los_Angeles_Chargers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Miami-Dolphins {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Miami_Dolphins.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Minnesota-Vikings {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Minnesota_Vikings.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-England-Patriots {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_England_Patriots.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-Orleans-Saints {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_Orleans_Saints.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Jets {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Jets.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.New-York-Giants {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/New_York_Giants.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Philadelphia-Eagles {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Philadelphia_Eagles.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Pittsburgh-Steelers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Pittsburgh_Steelers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.San-Francisco-49ers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/San_Francisco_49ers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Seattle-Seahawks {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Seattle_Seahawks.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Tampa-Bay-Buccaneers {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Tampa_Bay_Buccaneers.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Tennessee-Titans {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Tennessee_Titans.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}

.Washington-Football-Team {
  position: relative;
  display: flex;
  background-image: url('../../images/team_logos/Washington_Football_Team.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 40%;
  margin: auto;
}
