.homepage-background {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,#fd5901, #f78104, #faab36, #249ea0, #008083, #005f60);
    overflow: hidden;
}

.homepage-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.information-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
