.logo-label {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 5vh;
    justify-content: center;
    margin: auto;
    width: 35%;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    -webkit-text-stroke: 1px #fd5901;
    border: 2px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    position: relative;
    background-image: url('../../images/playersclub.jpg');
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    border: 1.5px solid #005f60;
    border-radius: 10px;
    /* animation-name: logo;
    animation-duration: 2.5s;
    animation-fill-mode: none;
    animation-timing-function: ease;
    animation-iteration-count: normal; */
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

@keyframes logo {
    0% { height: 1200%;}
    100% { height: 15%;}
}

.nav-bar {
    position: relative;
    display: flex;
    width: 80%;
    height: 35px;
    top: 5px;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    /* -webkit-text-stroke: .5px #fd5901; */
    font-size: 25px;
    font-weight: 400;
    animation-name: nav;
    animation-duration: 5s;
    animation-fill-mode: none;
    animation-timing-function: ease;
    animation-iteration-count: normal;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

@keyframes nav {
    from { opacity: 0.0 }
    to { opacity: 1;}
}


.nav-btn {
    position: relative;
    margin: auto;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    -webkit-text-stroke: .5px #fd5901;
    font-weight: 400;
}

input.search {
    position: relative;
    width: 100%;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid #fd5901;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 200;
}

input::placeholder {
    color: #fd5901;
}

button.nav-signup {
    position: relative;
    margin-left: 15%;
    display: inline-block;
    text-align: center;
    color: #fd5901;
    width: 15%;
    border-radius: 15px;
    border: 1px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

button.nav-logout {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fd5901;
    border-radius: 15px;
    border: 1px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 1px 10px;
}

.gear {
    /* visibility: hidden; */
    position: relative;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fd5901;
}

input {
    position: relative;
    width: 25%;
    outline: none;
}
