.logo-label {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  width: 35%;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  -webkit-text-stroke: 1px #fd5901;
  border: 2px solid #fd5901;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logo {
  position: relative;
  background-image: url("../../images/playersclub.jpg");
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  border: 1.5px solid #005f60;
  border-radius: 10px;

  /* animation-name: logo;
    animation-duration: 2.5s;
    animation-fill-mode: none;
    animation-timing-function: ease;
    animation-iteration-count: normal;
    z-index: 1; */
  margin-left: auto;
  margin-right: auto;
}

@keyframes logo {
  0% {
    height: 1200%;
  }
  100% {
    height: 15%;
  }
}

/* .nav-bar-container {
    position: relative;
    display: flex;
    width: 100%;
    top: 5px;
    justify-content: space-evenly;
} */

.nav-bar {
  position: relative;
  display: flex;
  width: 80%;
  height: 35px;
  top: 5px;
  justify-content: space-evenly;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  /* -webkit-text-stroke: .5px #fd5901; */
  font-size: 25px;
  font-weight: 400;
  animation-name: nav;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-timing-function: ease;
  animation-iteration-count: normal;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-btn {
  position: relative;
  margin: auto;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #fd5901;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  border: 1px solid #fd5901;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: 200;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  border-radius: 20px;
  font-size: 20px;
}

input.search {
  position: relative;
  width: 100%;
  margin-top: 2px;
  padding: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 15px;
  border: 1px solid #fd5901;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: 200;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  border-radius: 20px;
  font-size: 15px;
}

h5 input::placeholder {
  color: #ffffff;
  position: relative;
  /* margin: auto; */
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #fd5901;
  font-weight: 400;
  width: 5%;
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  color: #ffffff;
  border-radius: 20px;
  font-size: 15px;
}

button.nav-signup {
  visibility: visible;
  position: relative;
  padding: 8px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #fd5901;
  width: 15%;
  border: 1px solid #fd5901;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  color: #ffffff;
  -webkit-text-stroke: 0.5px #fd5901;
  border-radius: 20px;
  font-size: 15px;
  left: 2%;
}

button.nav-logout {
  visibility: visible;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd5901;
  border-radius: 15px;
  border: 1px solid #fd5901;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  color: #ffffff;
  border-radius: 20px;
  -webkit-text-stroke: 0.5px #fd5901;
  border: 1px solid #fd5901;
  font-size: 15px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 1px 10px;
}

.gear {
  visibility: visible;
  position: relative;
  margin-left: 25px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #fd5901;
}

input {
  position: relative;
  width: 25%;
  outline: none;
}

.welcome-player {
  position: relative;
  margin: auto;
  left: 3%;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #fd5901;
  font-weight: 400;
  font-size: 15px;
}
