.login-form-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.login-form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.session-form-caption {
    position: relative;
    font-weight: 600;
    font-size: 3vh;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5px;
    width: 70%;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    -webkit-text-stroke: 1px #fd5901;
    border: 2px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.session-form-subcaption {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    -webkit-text-stroke: 0.8px #fd5901;
    font-weight: 600;
    margin-bottom: 5vh;
    font-size: 17px;
}

.login-form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-input {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #fd5901;
    width: 50%;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.login-final {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #fd5901;
    width: 50%;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #fd5901;
    border: 2px solid #fd5901;
    font-size: 15px;
}

.session-btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #fd5901;
    width: 15%;
    outline: none;
    font-weight: 600;
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    color: #FFFFFF;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #fd5901;
    border: 1px solid #fd5901;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    font-size: 15px;
}

.login-input::placeholder {
    color: #fd5901;
}

.close-x {
    position: absolute;
    top: 45px;
    right: 45px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #fd5901;
    padding: 15px;
    border-radius: 10px;
    color: white;
    /* background-color: #005f60; */
    background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
    font-weight: 700;
}

.errors {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -webkit-text-stroke: 0.5px #fd5901;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #fd5901;
    padding: 2px;
    border-radius: 15px;
}