.team-label {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 5vh;
  justify-content: center;
  margin: auto;
  width: 35%;
  background-image: linear-gradient(to left, #249ea0, #008083, #005f60);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  -webkit-text-stroke: 1px #fd5901;
  border: 2px solid #fd5901;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.team-logo-label {
  position: relative;
  background-image: url('../../images/playersclub.jpg');
  width: 80%;
  height: 11.1%;
  display: flex;
  justify-content: space-evenly;
  border: 1.5px solid #005f60;
  border-radius: 10px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
